body{
    background: linear-gradient(to right, rgb(135, 67, 190),rgb(34, 34, 236));
}
.container{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width: 50%;
    margin: 50px auto;
    padding: 20px;
    background-color:  rgba(255, 255, 255, 0.5);
    box-shadow: -4px -4px 15px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
}
.form-control, .form-select{
    background: rgb(255, 255, 255);
    outline: none;
    border-style: none;
}
p{
    background-color: white;
    padding: 8px 5px;
    border-radius: 5px;
}